:root {
  --brightness: 1; /*How light the scene is*/
  --lume: 0;
  	overflow: hidden;
}

body {
	display: flex;
	margin: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
	/*background: black;*/
}

img {
	width: 100%;
	height: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch {
    position: absolute;
	height: 100vmin;
    width: 100vmin;
}

.brightness {
	filter: brightness(var(--brightness));
}

.lume {
	opacity: var(--lume);
}


	/*display: none;*/


.dark { /*Do I need this?*/
	display: flex;
    position: absolute;
	align-items: center;
    justify-content: center;
	height: 100vh;
    width: 100vw;
	z-index: 5;
	background-color: black;
	opacity: 0.85;
	display: none;  /*Hide it for now*/
}