:root {
  --brightness: 1; /*How light the scene is*/
  --lume: 0;
  	overflow: hidden;
}

body {
	display: flex;
	margin: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
	/*background: transparent;*/
}



p1 {
	font-family: "Courier New", Monospace;
	color: #008800;
	font-size: large;
	/*filter: brightness(var(--lume));*/
}

img {
	display: flex;
	width: 100%;
	height: 100%;
}

.menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	/*left: 0px;*/
	/*top: 0px;*/
	width: 100vw;
	height: 100vh;
    align-items: flex-start;
	justify-content: flex-start;
	z-index: 1;
}

:fullscreen {/*I do not understand why this only hides the menu when I don't appear to have specified it... But hey, it works!*/
  visibility: hidden;
}

.justifyEnd {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.watch {
    position: absolute;
	height: 100vmin;
    width: 100vmin;
}

.brightness {
	filter: brightness(var(--brightness));
}

.lume {
	opacity: var(--lume);
}

input[type=range]{
	-webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	height: 2px;
	background: #008800;
	/*filter: brightness(var(--lume));*/
	border: none;
	border-radius: 3px;
	margin-top: -8px;
	margin-left: 10px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	border: none;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	background: #008800;
	/*filter: brightness(var(--lume));*/
	height: 15px;
	width: 15px;
	margin-top: -6px;
}

input[type=range]::-webkit-slider-thumb:hover {
	height: 19px;
	width: 19px;
	margin-top: -8px;
}

#dropdown {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	border: 1px solid #008800;
	border-radius: 10px;
	font-family: "Courier New", Monospace;
	font-size: large;
	text-align: center;
	color: #008800;
}

#dropdown:hover {
	font-weight: bolder;
}

button {
	background-color: transparent;
	border: 1px solid #008800;
	border-radius: 10px;
	margin-top: 5px;
	color: #008800;
	font-family: "Courier New", Monospace;
	font-size: large;
}

button:hover {
	font-weight: bolder;
}